<!-- Include header - ejs -->
<%- include("./includes/header.ejs") %>

       <div class="post-not-found">
        <h1>OOPS</h1>
        <p>404 - Post Not Found!</p>
       </div>
  

<!-- Include footer - ejs -->
<%- include("./includes/footer.ejs") %>