<!-- Include header - ejs -->
<%- include("./includes/header.ejs") %>
<div class="container">
    <h2>About Us</h2>
    <p><%= aboutContent %>></p>
</div>
 <!-- Include footer - ejs -->
 <%- include("./includes/footer.ejs") %>