<!-- Include header - ejs -->
<%- include("./includes/header.ejs") %>
<div class="container">
    <h2>Contact Us</h2>
    <p><%= contactContent %></p>
</div>
 <!-- Include footer - ejs -->
 <%- include("./includes/footer.ejs") %>