<!-- Include header - ejs -->
<%- include("./includes/header.ejs") %>
    <div class="container">
        <h1>Home</h1>
    <p>
        <%= firstPost %>
    </p>
    </div>

    <!-- Include footer - ejs -->
    <%- include("./includes/footer.ejs") %>