<!-- Include header - ejs -->
<%- include("./includes/header.ejs") %>
    <h1>Home</h1>
    <p>
        <%= firstPost %>
    </p>

    <!-- Include footer - ejs -->
    <%- include("./includes/footer.ejs") %>