<!-- Include header - ejs -->
<%- include("./includes/header.ejs") %>
<div class="container">
        <h1> <%=title %> </h1>
        <p> <%= content %> </p>
    </div>

<!-- Include footer - ejs -->
<%- include("./includes/footer.ejs") %>